@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  background-color: #84a0a5;
  width: 100vw;
}

* {
  box-sizing: border-box;
}