.create-paste {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.paste-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-group label {
    font-size: 20px;
    color: rgb(238, 238, 235);
    font-family: "REM", sans-serif;
}

.form-group textarea {
    width: 50%;
    padding: 20px;
    border-radius: 16px;
    border-color: transparent;
    border: 1px solid #9d9b9b;
    font-family: "REM", sans-serif;
    font-size: 16px;
    height: 250px;
    overflow: auto;
    color: rgba(0, 0, 0, 0.619);
    background-color: #e8f3f0;
}

.constraints {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 50px;
}

.form-group input {
    padding: 10px;
    min-width: 300px;
    border-radius: 16px;
    border-color: transparent;
    border: 1px solid #9d9b9b;
    font-family: "REM", sans-serif;
    font-size: 16px;
    overflow: auto;
    color: rgba(0, 0, 0, 0.619);
    background-color: #e8f3f0;
}

button {
    width: 200px;
    align-self: center;
    padding: 10px 30px;
    color: white;
    background-color: rgb(7, 7, 98);
    font-size: 16px;
    border-radius: 16px;
    margin: 20px;
}